- var TEXT_SIZE = 12;
- var LINE_HEIGHT = 16;
- var CONTINUOUS_BAR_HEIGHT = 6;
- var DISCRETE_BAR_HEIGHT = 10;

-
  function linear_map(val, dmin, dmax, rmin, rmax){
    return ((val-dmin)/(dmax-dmin))*(rmax-rmin)+rmin
  }

.columns
  each column in columns ? columns : []
    .column(data-name=column.name)
      .head
        h2= column.name

      .body(class=column.type)
        - var bar_height = column.type == 'discrete' ? DISCRETE_BAR_HEIGHT : CONTINUOUS_BAR_HEIGHT;
        - var pad_top = (LINE_HEIGHT - bar_height) / 2;
        - var pad_bottom = (LINE_HEIGHT + bar_height) / 2;
        
        .selection
        
        if column.type == 'discrete'
          .names
            each value in column.values
              .name= value
            if column.na
              .name.nan nan
          .counts
            each count in column.counts
              .count= count
            if column.na
              .count= column.na
          .bars
            each value,i in column.values
              - var count = column.counts[i]
              .bar(style={
                width:(count/column.max_count*100)+'%',
                top:(pad_top + LINE_HEIGHT*i)+'px'
              })
        else if column.type == 'continuous'
          - var dmin = column.labels[0]
          - var dmax = column.labels[column.labels.length-1]
          - var height = column.labels.length * LINE_HEIGHT
          .names
            each label in column.labels
              .name=label
            if column.na
              .name.nan nan
          .bars
            each value,i in column.values
              - var count = column.counts[i]
              .bar(style={
                width:(count/column.max_count*100)+'%',
                top:linear_map(value,dmin, dmax, pad_top, height-pad_bottom)+'px',
              })
            if column.na
              .count= column.na